.background {
    padding: 1% 0;
    width: 100%;
    background-color: #353854;


    .line {
        background-color: #434769;
        height: 1px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    .copyright {
        width: 79%;
        color: #565b87;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        font-size: 10pt;
    }
    
}

